.mo-sf-lic-container {
  background: #fff;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 1rem;
  margin: 15px 15px 2px;
}

.mo-sf-license-plan {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.mo-sf-license-plan tr:nth-child(odd) {
  background-color: #e9f0ff;
}

.mo-sf-lic-head {
  background: #133664!important;
  color: #fff;
  font-size: 1.8rem;
}

.mo-sf-p-3 {
  padding: 1.6rem;
}

.mo-sf-p-2 {
  padding: 1rem;
  font-size: 1.2rem;
}

.mo-sf-price {
  font-size: 2rem;
}

.mo-sf-rotate-45 {
  transform: rotate(45deg);
}

.mo-sf-btn-cstm-lic {
  background: linear-gradient(0deg, rgb(14 42 71) 0, rgb(26 69 138) 100%)!important;
  border: none;
  margin-right: 10px;
  font-size: 0.9rem;
  padding: .3rem 0.9rem;
  color: #fff!important;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.mo-sf-btn-cstm-back {
  background: linear-gradient(0deg, rgb(240 240 241) 0, rgb(240 240 241) 100%)!important;
  color: #000!important;
}

.upgrade-to-premium-plan-button {
  background-color: orange !important;
  border-color: orange;
  cursor: pointer;
  height: 42px;
  font-size: 16px;
  float: right ;
  padding: 7px 20px 7px 20px;
  color: #fff;
  width: auto;
  font-size: 16px;
  border: none;
  margin-right: 5px;
  margin-top: 10px;
  box-shadow: inset 2px 2px 2px 0 rgb(255 255 255 / 50%), 7px 7px 20px 0 rgb(0 0 0 / 10%), 4px 4px 5px 0 rgb(0 0 0 / 10%);
  top: 5px;
  border-radius: 30px;
}
/*new Design*/
.contact-us{
background: #fff;
border: 1px solid #c3c4c7;
border-left-width: 4px;
box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
margin: 5px 15px 2px;
padding: 1px 12px;

}

.faq-parent1{
  margin-top:4rem;
}
.feature{
  width:46rem;
  font-size:1.5rem;
}
.table-head{
  width:10rem;font-size:1.5rem;
}
.faq-parent2{
  font-size:2rem;
  font-family: revert;
  text-align: center;
}
.font-size{
  font-size:1rem;
}

.lp-display{
  display: flex;
  justify-content: center;
}
.center{
  text-align: center;
}
.lp-content{
  margin-left: 40px;
  top: 20px!important;
  font-size: 17px;
}
.bottom{
  margin-bottom:25px;
}
.top{
  margin-top: 25px!important;
}
.faq{
  border-radius:5px;
  background:transparent;
  min-width: 430px!important;
  box-sizing: border-box;
  border-color: black;
  border-width: 1rem;
}
#lp-compare th, #lp-compare td {
  padding: 16px;
}
.lp-center-icon-table{
  text-align: center;
}
#lp-compare th:first-child, td:first-child {
  text-align: left;
}
#lp-compare tr:nth-child(even) {
  background-color: #f2f2f2
}
.faq-title{
  margin: 1px 0px 0 0;
color: #000;
margin-bottom: 1.2em;
font-weight: 400;
font-size: 1.2em;
text-align: left
}
.faq-text{
display: none;
border-top: 1px solid #f4f4f4;
text-align: left;
font-size: 1rem
}
.faq-container {
margin-left: 1rem;
background-color: transparent;
border: 1px solid #9fa4a8;
border-radius: 10px;
padding: 23px 22px 10px;
display:inline-grid;
overflow: hidden;
cursor: pointer;
margin-top:2rem;
}
.compare-plans{
  background:transparent;
  height: 3.5rem;
  max-width: 20rem;
  border: 2px solid #111;
  box-sizing: border-box;
  padding: 0.1px 20px;
  margin-bottom: 1rem;
  margin-top: 5rem;
  cursor: pointer;
}
.choose-LP{
  text-align: center;
}
.ques{
  margin-top: -1rem;
  margin-left: -1rem;
}
.ques-font{
  font-size: 15px;
}
.align-upgrade{
  margin-top: 25px;
  text-align:center;
}
.upgrade-link{
  text-decoration: none;
  color:black;
}
.table-top{
  margin-top:5rem;
}
.pricing-div{
  margin-top: 2rem;
}
.pricing-value{
  margin-top: 25px; text-align:center;
}
.pricing-extra{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11.9rem auto 0;
}
.faq-content{
  width: 1.5rem;
  float: right;
}
.parent-CP{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 75 */
@media screen and (width:2048px) {
  .faq-container{
	width: 753px;
  }
  .save-money-container {
    width: 14% !important;
    left: 77.5rem !important;
  }
  .btn {
    margin-left: 77px !important;
  }
}
/* 80 */
@media screen and (width:1920px) {
  .faq-container{
	width: 687px;
  }
  .save-money-container {
    width: 14% !important;
    left: 74rem !important;
  }
  .btn {
    margin-left: 75px !important;
  }
}
/* 90 */
@media screen and (width:1706.67px) {
  .faq-container{
	width: 579px;
  }
  .save-money-container {
    width: 17% !important;
    left: 67rem !important;
  }
}
/* 100 */
@media screen and (width:1536px) {
.faq-container{
  width: 496px;
}
}
/* 110 */
@media screen and (width:1396.36px) {
.faq-container{
  width: 430px;
}
.faq-title{
  font-size: 1.1em;
}
.pricing-container {
  margin-left: 1.5rem;
  display:flex;
  gap: 20px !important;
}
.plan-container1 {
  width: 15rem !important;
}
.save-money-container {
  left: 54rem !important;
}
.premium-plan {
  width: 16.1rem !important;
}
.enterprise-plan {
  margin-top: -33px !important;
}
.mt-free{
margin-top: 80px !important;
}
.mt-premium{
margin-top: 96px!important;
}
.mt-enterprise{
margin-top: 34px!important;
}
.btn {
  margin-left: 53px !important;
}
}
/* 125 */
@media screen and (width:1228.80px) {
.faq-container{
  width: 343px;
}
.upgrade-to-premium-plan-button{
  padding: 7px 10px 7px 10px;
}
.price-txt {
  font-size: 35px !important;
}
.pricing-container>.row {
  gap: 28px !important;;
}
.pricing-container {
  margin-left: 0.5rem;
}
.plan-container1 {
  width: 14rem !important;
}
.premium-plan {
  width: 15rem !important;
  height: 30rem!important;
}
.enterprise-plan {
  margin-top: -35px !important;
}
.mt-free{
  margin-top: 75px !important;
}
.mt-premium{
  margin-top: 95px !important;
}
.mt-enterprise{
  margin-top: 28px !important;

}
.btn {
  margin-left: 40px !important;
}
.save-money-container {
  width: 23%!important;
  left: 46rem!important;
  padding: 1.5px 1.5px 1.5px 1.5px!important;
}
}


/** new plan**/
.save-title{
  font: 600 19px Poppins;
  color: #000ABD;
  text-align: center;
  margin-top: 6px;
}
.see-more{
  font-size: 18px;
  font-weight: 600;
  color:#000abd;
  cursor:pointer;
}
.save-money-container{
    width: 20%;
    position: absolute;
    left: 61.3rem;
    margin-top: -12px;
    background: #fff;
    padding: 1px 1px 1px 1px;
    border-radius: 6px;
    box-shadow: -1px -1px 4px rgb(127 155 255 / 25%);
    height: 32px;
}
.save{
  font:500 24px Poppins;
  color:#000ABD;
}
.txt-color {
  color: #000abd;
}
.save-money-desc{
  font:500 15px Poppins;
  color:#000;
}
.save-money-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
.select-plan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
}
.select-plan-desc{
  font: 600 30px Poppins;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}
.select-plan-desc-sub{
  font: 500 18px Poppins;
  margin-top: 0;
  color: #000;
}
.contact-us{
  font:600 18px Poppins;
  color:#485BC0;
}
.lite-plan{
  background-color: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  text-align: left;
  font-family: Poppins;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  margin-right: 3rem;
}
.premium-plan{
  background-color: #fff;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 16%);
  text-align: left;
  font-family: Poppins;
  padding: 2rem;
  border-radius: 0px;
  height: 28rem;
  width:20rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.flex-row-align-center{
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.flex-row-top{
  padding-top:2rem;
}
.premium-plan-btn{
  font:600 22px Poppins;
  color:#fff;
  background-color: #000ABD;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 14px 28px;
  border-radius: 3px;
  text-decoration: none;
  margin-top:15px;
}
.pricing-feature-points{
  margin:7px;
  font:600 15px Poppins;
  color:#515862;
}
a:hover{
  color:initial;
}
.pricing-container > .row{
  padding:0.2rem;
  gap:60px;
  display: flex;
  justify-content: center;
}
.icon > img{
  width:3.5rem;
}
.pricing-svg{
  width:2.4rem;
}
.mt-free{
  margin-top: 90px;
}
.mt-premium{
  margin-top: 93px;
}
.mt-enterprise{
  margin-top: 47px;
}
.plan-container1{
  padding: 1rem 2rem 0rem 3rem;
  background: rgba(0, 10, 189, 0.1);
  box-shadow: 1px 1px 8px rgb(0 0 0 / 16%);
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
}
.pricing-note {
  padding: 1rem;
  border: 1.5px solid #000abd;
  box-shadow: 0px 1px 14px -3px #4b52c9;
  border-radius: 5px;
  font: 600 1.6rem Nunito;
  line-height: 1.8;
  background-color: #fff;
}
.edu-plan{
  width: 70%;
  left: 16%;
  padding-bottom: 2rem;
}
.premium-plan-head{
  font-size:24px;
  color:#000abd;
}
.premium-plan-text{
  color: #271B1B;
}
.strike{
  text-decoration:line-through;
}
.price-txt{
  font-size:40px;
}
.icon-svg{
  background: #fff;
  display: inline-flex;
  box-shadow: 1px 1px 12px rgb(78 77 77 / 16%);
  border-radius: 24px;
  position: relative;
  top: 20%;
}
.mo-sf-sync-pricing-btn {
  padding: 10px 30px 10px 25px;
  border: 2px solid #000abd;
  color: #000abd!important;
  font: 600 18px Poppins;
  border-radius: 8px;
}
.mo-sf-sync-pricing-btn:hover{
  background: rgba(0,10,189,.1);
  color: #000abd!important;
  border: 2px solid rgba(0,10,189,.1);
}
.btn {
  display: inline-block;
  margin-left: 68px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}
.install-help-box {
    background: rgba(0,10,189,.1);;
    padding: 1.5% 2%;
    border-left: 2px solid #8a6d3b;
    font-size: 1.1rem;
}