<div class="contact-us" >
  <p class="ques-font" > <b>Have Any Questions? </b></p>
  <div class="mo-sf-p-2 pt-3 ques"> <a href="https://www.miniorange.com/contact" class="mo-sf-btn-cstm-lic" target="_blank">Contact Us</a>
  </div>
</div>
<div class="mo-sf-lic-container">
<a href="?page=mo_sf_sync">
  <button class="mo-sf-btn-cstm-lic mo-sf-btn-cstm-back">
	<i>&#10229 </i>
	<span><strong> Back To Plugin Configuration</strong> </span>
  </button>
</a>
 <h2 class="mo-sf-text-danger mo-sf-text-center">You are currently on the Free version of the plugin</h2>
 <div class="choose-LP">
  <h1>Choose your Licensing Plan</h1>
 </div>

  <div class="col-md-12 pricing-container" style="margin-top:70px;">
	<div class="row main-pricing"  >
		<div class="col-sm">
			<div class="plan-container1">
				<h3 class="premium-plan-head" ><b>Free</b></h3>
				<p class="premium-plan-text"><b class="price-txt">$0</b><b>/Year</b></p>
				<div class="icon-svg"  style=" padding: 1.3rem;">
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 900 900" fill="none">
						<path d="M823.5 379L900 330L780 120.5L698.5 162C644 190 578.5 152.5 575.5 91L570 0H329.5L324.5 91C321.5 152 256.5 190 201.5 162L120 120.5L0 330L76.5 379C128 412 128 487.5 76.5 521L0 570L120 779.5L201.5 738C256 710 321.5 747.5 324.5 809L330 900L570 899.5L575.5 809C578.5 747.5 644 710 698.5 738L780 779.5L900 570L823.5 521C772 487.5 772 412 823.5 379ZM450 625C353.5 625 275 546.5 275 450C275 353.5 353.5 275 450 275C546.5 275 625 353.5 625 450C625 546.5 546.5 625 450 625Z" fill="#000ABD"/>
					</svg>
				</div>
			</div>
			<div class="premium-plan" style="margin-top:-10px;">
				<div class="flex-row-align-center flex-row-top mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Bidirectional data sync
					</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Real-Time sync WordPress to Salesforce Sync</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Basic & Single Object Mapping</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="60" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Integration with Membership plugins such as Paid Memberships Pro, MemberPress, Ultimate Member, etc.)</p>
				</div>
				<div id="subpage-exp-content" >
					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Pre-connected and Custom Salesforce App integrations
						</p>
					</div>
					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Automation workflows sync support</p>
					</div>
				</div>
				<div class="text-center mt-free">
					<a href="https://wordpress.org/plugins/object-data-sync-for-salesforce/"  style="text-decoration:none" target="_blank" class="mo-sf-sync-pricing-btn btn">
						Download
					</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="plan-container1">
				<h3 class="premium-plan-head" ><b>Premium</b></h3>
				<p class="premium-plan-text"><b class="price-txt">$149</b><b>/Year</b></p>
				<div class="icon-svg"  style=" padding: 1rem;">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1200 1200" fill="none">
						<path d="M100 500H350L450 250H300L100 500ZM900 250H750L850 500H1100L900 250ZM500 250L400 500H800L700 250H500ZM100 550L550 1050L350 550H100ZM850 550L650 1050L1100 550H850ZM400 550L600 1050L800 550H400Z" fill="#000ABD"/>
					</svg>
				</div>

			</div>
			<div class="premium-plan" style="margin-top:-10px;">
				<div class="flex-row-align-center flex-row-top mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">All Free Features</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Scheduled sync Salesforce to WordPress</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Advance Object Mapping (Picklists, Custom SF Fields)</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Form builder Integrations (WP Forms, Gravity Forms, Contact Form 7, Ninja Forms, etc.)</p>
				</div>

				<div id="subpage-exp-content1">
					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Salesforce Cases creation from WordPress</p>
					</div>

					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Multiple Object Mapping</p>
					</div>
				</div>
				<div class="text-center mt-premium">
					<a href="https://portal.miniorange.com/initializepayment?requestOrigin=wp_object_sync_for_salesforce_plan"  style="text-decoration:none" target="_blank" class="mo-sf-sync-pricing-btn btn">
						Upgrade Now
					</a>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="col-md-4 save-money-container">
				<div>
					<p class="save-title">LIMITED PERIOD OFFER</p>
				</div>
			</div>
			<div class="plan-container1">
				<h3 class="premium-plan-head " ><b>WooCommerce Enterprise</b></h3>
				<p class="premium-plan-text" style="margin-top:2rem;font-weight:600;"><b class="price-txt txt-color">$249</b><b class="txt-color">/Year</b></p>
				<div class="icon-svg" style=" padding: 1rem;">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1200 1200" fill="none">
						<path d="M112.5 1050H1087.5M187.5 150V1050M712.5 150V1050M1012.5 375V1050M337.5 337.5H375M337.5 487.5H375M337.5 637.5H375M525 337.5H562.5M525 487.5H562.5M525 637.5H562.5M337.5 1050V881.25C337.5 850.2 362.7 825 393.75 825H506.25C537.3 825 562.5 850.2 562.5 881.25V1050M150 150H750M712.5 375H1050M862.5 562.5H862.9V562.9H862.5V562.5ZM862.5 712.5H862.9V712.9H862.5V712.5ZM862.5 862.5H862.9V862.9H862.5V862.5Z" stroke="#000ABD" stroke-width="75" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</div>

			</div>
			<div class="premium-plan enterprise-plan" style="margin-top:-16px;">
				<div class="flex-row-align-center flex-row-top mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">All Premium Features</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Integration with WooCommerce</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Support for Program Management Module (PMM) & Nimble AMS Package</p>
				</div>
				<div class="flex-row-align-center mt-4">
					<svg xmlns="http://www.w3.org/2000/svg" width="55" height="45" viewBox="0 0 441 465" fill="none">
						<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
					<p class="pricing-feature-points">Form builder Integrations (WP Forms, Gravity Forms, Contact Form 7, Ninja Forms, etc.)</p>
				</div>
				<div id="subpage-exp-content2">
					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Integration with WP Subscriptions</p>
					</div>
					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">Data visualization addon</p>
					</div>

					<div class="flex-row-align-center mt-4 ">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 441 465" fill="none">
							<path d="M82.6621 247L192.879 363L358.204 102" stroke="#000ABD" stroke-width="80" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						<p class="pricing-feature-points">User / Role exception/Inclusion</p>
					</div>

				</div>
				<div class="text-center mt-enterprise">
					<a href="https://portal.miniorange.com/initializepayment?requestOrigin=wp_object_sync_for_salesforce_enterprise_plan"  style="text-decoration:none" target="_blank" class="mo-sf-sync-pricing-btn btn">
						Upgrade Now
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<p class="install-help-box" style="margin-top:4rem;"> If you want to see detailed information about the features you can visit the the page linked <a class="text-color" style="word-break: break-all; text-decoration:none;" href="https://plugins.miniorange.com/wordpress-object-sync-for-salesforce" target="_blank"><b>here</b></a>.</p>
 
  <div class="faq-parent1">
	<p class="faq-parent2"><u>Pricing FAQ</u></p>
  </div>
 <div class=" faq" style="margin-left: 70px;">
	<div style="margin-bottom: 10rem;">
	  <div class="faq-container" style="margin-top:0px;" onclick="dropdown(this)">
		  <h3 class="faq-title ">What is the licensing model?
			  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
				<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			  </svg>
		  </h3>
		  <div class="faq-text">
			<p>The plugin licenses are subscription based and the Support Plan includes 12 <br>months of maintenance (support and version updates).</p>            
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Does miniOrange store any user data?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		<div class="faq-text">
		  <p>miniOrange does not store or transfer any data which is coming from the Salesforce <br>to the  WordPress. All the data remains within your premises / server.           
		  </p>            
		</div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Does miniOrange provide developer license for paid plugin?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>We do not provide the developer license for our paid plugins and the source code is protected. It is strictly prohibited to make any changes in the code without having <br>written permission from miniOrange. There are hooks provided in the plugin
			  which <br>can be used by the developers to extend the plugin's functionality.</p>            
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Does miniOrange offer technical support?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>Yes, we provide 24*7 support for all and any issues you might face while using<br> the plugin, which includes technical support from our developers. You can get <br>prioritized support based on the Support Plan you have opted. You can check out <br>the
				different Support Plans from <a href="https://www.miniorange.com/support-plans" target="_blank" style="text-decoration:none" class="text-primary"><b><u>here</u></b></a>.
			</p>
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">What is the refund policy?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>At miniOrange, we want to ensure you are 100% happy with your purchase. If the<br> premium plugin you purchased is not working as advertised, and you've attempted <br>to resolve any issues with our support team, which couldn't get resolved. We will<br>
			  refund the whole amount within 10 days of the purchase. Please email us at <a href="mailto:salesforcesupport@xecurify.com" class="text-primary"><b>salesforcesupport@xecurify.com</b></a> for any queries regarding the return policy <br>or contact us
			  <a href="https://www.miniorange.com/contact"  style="text-decoration:none" target="_blank"><b>here</b>.</a>
				</p> 
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Do I need to pay one-time or annually?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>
				The plugin licenses are subscription based and the Support Plan includes 12 months of maintenance (support and version updates). You can renew the license after 12 months.
			</p> 
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">What is one instance?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>
				A WordPress instance refers to a single installation of a WordPress site. It refers to each individual website where the plugin is active. In the case of a single site WordPress, each website will be counted as a single instance. <b>License is linked to the domain of the WordPress instance, so if you have dev-staging-prod type of environment then you will require 3 licenses of the plugin (with discounts applicable on pre-production environments) </b>.
			</p> 
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Do we support Multisite?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>Yes, we do support Multisite Environment in our Premium Plugin. </p>            
		  </div>
	  </div>
	  <div class="faq-container" onclick="dropdown(this)">
		<h3 class="faq-title ">Do we support Salesforce custom object?
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 faq-content">
			  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
			</svg>
		</h3>
		  <div class="faq-text">
			<p>Yes, we support Salesforce custom object.</p>            
		  </div>
	  </div>
	</div>
 </div>

</div>
</div>